p {
     background-color: #dedede;
     position: relative;
     margin: 10px;
     padding: 10px;
     width: 600px;
     margin-left: auto;
     margin-right: auto;
     border-left: 2px solid #e13b67;
}
p::before {
     content: attr(data-person);
     background-color: #dedede;
     position: absolute;
     right: 631px;
     padding: 10px;
     text-align: center;
     margin: 10px;
     top: -23%;
     width: 46px;
}
p::after {
     content: "";
     position: absolute;
     background-color: transparent;
     width: 0px;
     height: 0px;
     border-style: solid;
     border-width: 7px;
     border-color: transparent #e13b67 transparent transparent;
     left: -14px;
     top: 32%;
}

