.parent {
     width: 600px;
     margin: 20px auto;
     height: 300px;
     padding: 10px;
     background-color: #dedede;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     /* align-items: flex-end; */

}
.parent div {
     width: calc(100%/6);
     height: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
}
.one {
     order: 2;
     align-self: flex-start;
     background-color: orange;
}
.two {
    order: 3;
    align-self: flex-end;
    background-color: rgb(130, 161, 83);
}
.three {
    order: 4;
    align-self: flex-start;
    background-color: rgb(62, 41, 14);
}
.four {
    order: 1;
    align-self: flex-end;
    background-color: blueviolet;
}