thead {
     background-color: black;
     color: white;
     font-weight: bold;
}
caption {
     margin-bottom: 10px;
}
table {
     width: 700px;
     margin-right: auto;
     margin-left: auto;
     background-color: #dedeed;
     text-align: center;
     border-bottom: 3px solid rgb(36, 185, 205);
     border-spacing: 0px;
     font-family: Verdana, Tahoma, sans-serif;
}
table td {
     padding: 10px;
     margin: 10px;
     border: 1px solid white;
}
button {
     border: none;
     padding: 5px;
     text-align: center;
}
.view {
  background-color: rgb(108, 170, 225);
}
.del {
     background-color:rgb(247, 49, 141);
}