.grid {
     background-color: #ddd;
     padding: 20px;
     margin: 20px auto;
     width: 800px;
     height: 400px;
     display: grid;
     grid-template-rows: 1fr auto;
     grid-template-columns: auto 1fr 1fr auto;
     gap: 10px 10px;
     color: white;
}

.grid div {
     background-color: black;
     display: grid;
     justify-content: center;
     align-items: center;

}